/* 

НАВИГАЦИЯ:
1. Основное
2. Шапка
    > 2.1. Лого
    > 2.2. Меню
3. 

/* ⬆ НАВИГАЦИЯ ⬆ 〰 ⬇ ОСНОВНОЕ ⬇ */

/* для чистоты */
* {
    margin: 0 auto;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

/* выделение элементов */
*::selection {
    color: black; /* Цвет текста */
    background: orange; /* Цвет фона */
}

/* размеры */
body, html {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

/* тело страницы */
body {
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background: whitesmoke;
    background-position: center;
    background-size: cover;
}

/* ⬆ ОСНОВНОЕ ⬆ 〰 ⬇ ИМПОРТ ШРИФТОВ ⬇ */

/* импорт шрифта LobsterTwo-B */
@font-face {
    font-family: 'LobsterTwo-B'; /* Гарнитура шрифта */
    src: url(fonts/LobsterTwo-Bold.ttf); /* Путь к файлу со шрифтом */
}

/* импорт шрифта LobsterTwo-R */
@font-face {
    font-family: 'LobsterTwo-R'; /* Гарнитура шрифта */
    src: url(fonts/LobsterTwo-Regular.ttf); /* Путь к файлу со шрифтом */
}

/* импорт шрифта Roboto-Thin */
@font-face {
    font-family: 'Roboto-Thin'; /* Гарнитура шрифта */
    src: url(fonts/Roboto-Thin.ttf); /* Путь к файлу со шрифтом */
}

/* импорт шрифта Roboto-Regular */
@font-face {
    font-family: 'Roboto-Regular'; /* Гарнитура шрифта */
    src: url(fonts/Roboto-Regular.ttf); /* Путь к файлу со шрифтом */
}

/* импорт шрифта Forum */
@font-face {
    font-family: 'Forum'; /* Гарнитура шрифта */
    src: url(fonts/Forum.ttf); /* Путь к файлу со шрифтом */
}

/* импорт шрифта Philosopher */
@font-face {
    font-family: 'Philosopher'; /* Гарнитура шрифта */
    src: url(fonts/Philosopher.otf); /* Путь к файлу со шрифтом */
}

/* импорт шрифта Hina */
@font-face {
    font-family: 'Hina'; /* Гарнитура шрифта */
    src: url(fonts/Hina-Mincho-Regular.ttf); /* Путь к файлу со шрифтом */
}

/* ⬆ ИМПОРТ ШРИФТОВ ⬆ 〰 ⬇ ШАБЛОНЫ ⬇ */

/* контейнер страницы */
.container {
    width: 66%;
}

/* дочерний элемент */
.child {
    display: inline-block;
}

/*убираем подчеркивание текста ссылок*/
a {
    text-decoration: none;
    
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 1%;

    font-family: 'Forum', sans-serif;
    font-size: 1.5em;
    
    letter-spacing: 1.5px;
}

/* заголовки1 секций */
section h1 {
    margin-top: 2.5%;
    margin-left: 1%;

    font-family: 'Philosopher', sans-serif;
    font-size: 2.5em;

    letter-spacing: 2px;
}

/* заголовки2 секций */
h2 {
    margin-top: 2.5%;
    margin-left: 1%;

    font-family: 'Philosopher', sans-serif;
    font-size: 2.25em;

    letter-spacing: 1.5px;
}

/* заголовки2 секций */
h3 {
    margin-top: 2.5%;
    margin-left: 1%;

    font-family: 'Philosopher', sans-serif;
    font-size: 1.5em;

    letter-spacing: 1.25px;
}

/* параграфы секций */
section p {
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 1%;

    font-family: 'Forum', sans-serif;
    font-size: 1.5em;
    
    letter-spacing: 1.5px;
}

/* секции */
section {
    padding-top: 5%;
    padding-bottom: 5%;
}

/* заголовки2 секций */
.sec-title h2 {
    text-align: center;

    font-family: 'Philosopher', sans-serif;
    font-size: 2.25em;

    letter-spacing: 1.5px;
}

/* параграфы секций */
.sec-title p {
    text-align: center;

    font-family: 'Forum', sans-serif;
    font-size: 1.5em;
    
    letter-spacing: 1.5px;
}

/* ⬆ ШАБЛОНЫ ⬆ 〰 ⬇ ШАПКА ⬇ */

/* шапка */
header {
    width: 100%;
    height: 10%;

    position: fixed;
    background: white;

    border-bottom: 1px solid #3A3A44;
    z-index: 2;
}

/* заголовок страницы */
header #title {
    position: fixed;
    font-family: 'LobsterTwo-B', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5em;
    top: 2.5%;
    margin-left: .5%;
}

/* ⬆ ШАПКА ⬆ 〰 ⬇ МЕНЮ ⬇ */

/* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
}

/* стиль кнопки */
.menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: fixed;
    top: 3%;
    right: 17%;
    width: 35px;
    height: 35px;
    cursor: pointer;
    z-index: 1;
    margin-right: .5%;
}

/* добавление "гамбургера" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: black;
}
.menu__btn > span::before {
    content: '';
    top: -13px;
}
.menu__btn > span::after {
    content: '';
    top: 13px;
}

/* анимация при наведении на кнопку */
.menu__btn:hover > span::before {
    top: -10px;
}
.menu__btn:hover > span::after {
    top: 10px;
}

/* контейнер меню */
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: left;
    background-color: whitesmoke;
    box-shadow: 2.5px 0px 10px rgba(0, 0, 0, .75);
}

/* элементы меню */
.menu__item {
    display: block;
    padding: 12px 24px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-decoration: none;
}

/* наведение на текст */
.menu__item:hover {
    color: #d49e4b;
}

/* затемнение */
#background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background: hsla(0, 0%, 0%, 0.25);
    visibility: hidden;
    opacity: 0;
}

/* поворот элемента "гамбургера" */
#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}

/* затемнение страницы */
#menu__toggle:checked ~ #background {
    visibility: visible;
    opacity: 1;
}

/* поворот элемента "гамбургера" обратно */
#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

/* появление меню */
#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
}

/* скорость анимации */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    transition-duration: .3s;
}
.menu__box {
    transition-duration: .3s;
}
.menu__item {
    transition-duration: .3s;
}
#background {
    transition-duration: .3s;
}

/* ⬆ МЕНЮ ⬆ 〰 ⬇ ДОМ ⬇ */

/* инфа */
section .info {
    padding-top: 5%;
}

/* ⬇ ДОМ - КНОПКА "ХОЧУ РЕМОНТ!" ⬇ */

/* кнопка */
a.button {
    float: left;

    padding: .7em 3em;
    
    border: 1px #F59552 solid;
    border-radius: 2.5px;

    color: whitesmoke;
    background: #F59552;
    font-size: 1.5em;
    font-weight: 600;

    user-select: none;
    outline: none;
} 

/* наведение на кнопку */
a.button:hover {
    background: #f5965200;
    color: black;
}

/* нажатие */
a.button:active {
    background: #DDB170;
}

/* скорость анимации */
a.button {
    transition-duration: .3s;
}

/* ⬆ ДОМ - КНОПКА "ХОЧУ РЕМОНТ!" ⬆ 〰 ⬇ ПОРТФОЛИО - ГАЛЕРЕЯ ⬇ */

/* галерея */
.gallery {
    display: flex;
    padding: 2px;
    transition: 0.3s;
}

/* анимация наведениея на пикчу */
.gallery:hover .gallery__image {
    filter: grayscale(1);
}

/* колонны галереи */
.gallery__column {
    display: flex;
    flex-direction: column;
    width: 25%;
}

/* бокс пикчи */
.gallery__link {
    margin: 3%;
    overflow: hidden;
    border-radius: 5px;
}

/* наведение на пикчу */
.gallery__link:hover .gallery__image {
    filter: grayscale(0);
}
.gallery__link:hover .gallery__caption {
    opacity: 1;
}

/* блок пикчи */
.gallery__thumb {
    position: relative;
}

/* пикча блока */
.gallery__image {
    display: block;
    width: 100%;
    transition: 0.3s;
}

/* анимация пикчи */
.gallery__image:hover {
    transform: scale(1.1);
}

/* подпись */
.gallery__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px 15px 15px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: white;
    opacity: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255, 255, 0) 100%);
    transition: 0.3s;
}

/* ⬆ ПОРТФОЛИО - ГАЛЕРЕЯ ⬆ 〰 ⬇ УСЛУГИ ⬇ */

/* обертка блоков услуг */
.post-wrap {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 }

 /* блок */
 .post-item {
    padding: 15px;
    cursor: pointer;
 }

 /* скорость анимации всех элементов блока */
 .post-item * {
    transition: .25s linear;
 }

 /* контент блока */
 .item-content {
    padding: 40px;
 }

 /* наведеине на блок */
 .post-item:hover .color-circle {
    margin-top: -63px;
 }

 /* параметры иконки */
 .item-icon {
    margin-bottom: 20px;
 }

 /* иконка */
 .item-icon:before {
    content: "";
    font-family: FontAwesome;
    color: #3A3A44;
    font-size: 50px;
    line-height: 1;
 }

/* ⬆ БЛОКИ ⬆ 〰 ⬇ УСЛУГИ - ИКОНКИ ⬇ с сайта https://fontawesome.com/v5.15/icons/  */

 /* иконка блока 1 */
 .item-icon.photo:before {
    content: "\f030";
 }

 /* иконка блока 2 */
 .item-icon.video:before {
    content: "\f03d";
 }

 /* иконка блока 3 */
 .item-icon.gift:before {
    content: "\f06b";
 }

 /* иконка блока 4 */
 .item-icon.group:before {
    content: "\f0c0";
 }

 /* иконка блока 5 */
 .item-icon.tree:before {
    content: "\f1bb";
 }

 /* иконка блока 6 */
 .item-icon.anchor:before {
    content: "\f13d";
 }

/* ⬆ УСЛУГИ - ИКОНКИ ⬆ 〰 ⬇ БЛОКИ ⬇ */

 /* анимация поднятия элементов */
 .post-item:hover .item-icon, .post-item:hover .item-body h3, .post-item:hover .item-body p {
    transform: translateY(-8px);
 }

 /* цветной круг под иконкой */
 .color-circle {
    width: 45px;
    height: 45px;

    margin-top: -55px;
    margin-left: 11px;

    background: orange;
    border-radius: 50%;
 }

 /* текст */
 .item-body {
    color: gray;
    font-size: 14px;
 }

 /* заголовок3 */
 .item-body h3 {
    color: black;
    font-weight: 500;
    margin-bottom: 15px;
    transition-delay: .05s;
 }

 /* параграф */
 .item-body p {
    transition-delay: .1s;
 }

 /* подвал блока */
 .item-footer {
    padding-top: 15px;
 }

 /* ссылка блока */
 .link {
    text-decoration: none;
    display: inline-block;
    overflow: hidden;
    position: relative;
    padding-right: 30px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    color: black;
 }

 /* полоска */
 .link:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    height: .125rem;
    margin: auto;
    background: orange;
    transform: scaleX(.2);
    transform-origin: left center;
    z-index: 0;
    transition: .6s cubic-bezier(.6, .01, 0, 1);
 }

 /* ссылка */
 .link span {
    display: inline-block;
    position: relative;
    transform: translateX(-200%);
    transition: .6s cubic-bezier(.6, .01, 0, 1);
 }

 /* анимация ссылки */
 .post-item:hover .link span {
    transform: translateX(0%);
 }

 /* наведение на ссылку */
 .post-item:hover .link:before {
    transform-origin: right center;
 }

 
/* ⬆ УСЛУГИ ⬆ 〰 ⬇ КОМПАНИЯ ⬇ */

section#about .sec-title h2, .sec-title p {
    text-align: left;
}