/* 

НАВИГАЦИЯ:
1. 


*/


/* ========== Desktop First ========== */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

/* ОСНОВНОЕ */

    .container {
        width: 100%;
    }

/* ШАПКА */

    header .mobile-call {
        left: 50%;
        transform: translate(-50%, -50%);
        margin-left: 365px;
    }

    .menu__btn {
        left: 50%;
        transform: translate(-50%, -50%);
        margin-left: -440px;
    }

    .menu__item {
        padding: 12px 14%;
    }
    
/* ГЛАВНАЯ */

    /* полоса краски на главной */
    body {
        /* background-size: 1850px; */
        background-position-x: 50%;
    }

    section#home {
        padding-top: 100px;
    }

    section#home h1 {
        padding-top: 5%;
        padding-bottom: 5%;
    
        font-size: 3.5em;
    }

    section#home .button {
        margin-top: 90px;
    }

    .post-item {
        height: 425px;
    }

    .item-content {
        padding: 20px;
    }

    .item-body h3 {
        margin-left: 0%;
        font-size: 1.75em;
        height: 50px;
    }

    .item-body p {
        margin-left: 0%;
        font-size: 1.3em;

    }

    .hww-block {
        padding: 0 20px;
    }

    section#about h2 {
        padding: 0 20px;
    }

    .colomn-twice-wrap {
        padding: 0 10px;
    }
    
    #faq .c {
        width: 900px;
    }
    
    /* Modal Content */
    .modal-content {
        width: 90%;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 992px) {

/* ШАПКА */

    header .mobile-call.numbers {
        display: none;
    } 

    header .mobile-call.icon {
        display: block;

        right: 1px;
        margin: 0 auto;
    } 

    .menu__btn {
        left: 40px;
        margin-left: 0;
    }

    /* полоса краски */
    body {
        background-size: 1850px;
        background-position-x: 60%;
    }

    section#home .main p {
        font-size: 1.3em;
        margin: 0 auto;
        width: 100%;
    }

    section#home p.list {
        width: 700px;
    }
    
    .symb3 {
        display: inline-block;
    }

    .symb2 {
        display: none;
    }

    /* текстовые поля */
    .feedback-form input[type=text], .feedback-form select, .feedback-form textarea {
        width: 100%; /* Full width */
        padding: 12px; /* Some padding */ 
        border: 0;
        border-bottom: 1px solid black;
        border-radius: 0;
        background-color: whitesmoke;
        box-sizing: border-box; /* Make sure that padding and width stays in place */
        margin-top: 6px; /* Add a top margin */
        margin-bottom: 16px; /* Bottom margin */
        resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
        font-size: 1em;
    }

    .feedback-form textarea {
        min-height: 200px;
    }

    /* поле имени и фамилии */
    .feedback-form input.name {
        width: 47%;
        float: left;
    }

    /* поле фамилии */
    .feedback-form input#lname {
        float: right;
    }

    .feedback-form .sec-title h2 {
        font-size: 2em;
    }

    .feedback-form .sec-title p {
        font-size: 1em;
    }

    /* шрифт кнопки */
    .feedback-form #sendform .button {
        width: 50%;
        padding: 2.5%;
        margin: 20px 0;
        font-size: 1em;
    }

    .item-body h3 {
        font-size: 1.5em;
    }
    .item-content {
        padding: 20px;
    }

    .item-body p, #bio p {
        font-size: 1em;    
    }

    .post-item {
        height: 50%;
    }

    .hww-block {
        height: auto;
        display: block;
    }

    .box {
        width: 100%;
        height: 300px;
        margin-bottom: 10px;
        
        box-shadow: 0px 20px 10px 0px rgba(0, 0, 0, 0.2) inset;
    }

    .preview img {
        width: auto;
        height: 50px;
    }

    .text {
        opacity: 1;
    }

    section#howwework .sec-title {
        margin-bottom: 25px;
    }

    #faq .c {
        width: 700px;
    }

    #faq h1{
        font-size: 1.1em;
    }

    footer a, footer .content h4, footer .copyright p {
        font-size: 0.9em;
    }

    footer .container {
        padding: 0px 20px;
    }

    .copyright {
        margin-top: 0;
        padding: 5% 0;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    
/* ОСНОВНОЕ */

    body{
        margin: 0;
    }
    section {
        padding-top: 100px;
    }

    .sec-title h2 {
        font-size: 1.6em;
    }
    .sec-title p {
        font-size: .85em;
    }
    
    /* кнопки */
    .button {
        padding: 1em 3em;
        font-size: 1em;
    }

/* ШАПКА */

    /* контейнер меню */
    .menu__box {
        width: 250px;
    }

    /* элементы меню */
    .menu__item {
        padding: 12px 24px;
    }

/* ГЛАВНАЯ */
    
    /* полоса краски */
    body {
        background-position-x: 65%;
        background-position-y: -50px;
    }

    /* заголовок на главной */
    section#home h1 {
        font-size: 3em;
        padding: 50px 0px;
    }    
    /* текст на главной */
    section#home .main p {
        width: 80%;
    }
    /* кнопка на главной */
    section#home .button {
        margin-top: 60px;
    }

/* ФИДБЕК */

    .feedback-form input[type=text], .feedback-form select, .feedback-form textarea {
        font-size: .75em;
    }

    /* поле имени и фамилии */
    .feedback-form input.name {
        width: 100%;
    }

    /* поле фамилии */
    .feedback-form input#lname {
        float: left;
    }

    .feedback-form .sec-title h2 {
        font-size: 1.75em;
        text-align: center;
    }

    .feedback-form .sec-title p {
        font-size: .75em;
        text-align: center;
    }

    
    .post-item {
        min-height: 100%;
        max-width: 50%;
        
        padding: 15px;
        cursor: pointer;
    }
    .item-body h3 {
        font-size: 1.4em;
    }
    .item-content {
        padding: 10px 20px;
    }
    .post-item .item-icon img {
        width: 40px;
        height: 40px;
    } 
    .color-circle {
        width: 40px;
        height: 40px;
    }

    section#about h2, .colomn-twice-wrap, .hww-block {
        padding: 0 10px;
    }
    .colomn-twice-item {
        width: 100%;
        height: auto;
        margin-top: 2%;
    }    

    #faq .c {
        width: 444px;
    }
    #faq label {
        
        padding-right: 20px;
    }
    #faq h1{
        font-size: .9em;
    }

    footer {
        margin-top: 50px;
    }

    .colomn-four-item {
        width: 100%;
        height: auto;
        margin-top: 15px;

        padding: 0 25px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

/* ОСНОВНОЕ */

    /*убираем подчеркивание текста ссылок*/
    a {
        font-size: .875em;
    }

    /* шрифт параграфов */
    p, input, select, textarea, li {
        font-size: .875em;
    }

    /* заголовки1 */
    h1 {
        font-size: 2em;
    }

    /* заголовки2 */
    h2 {
        font-size: 1.5em;
    }

    /* заголовки3 */
    h3 {
        font-size: 1em;
    }

    /* заголовки4 */
    h4 {
        font-size: .75em;
    }

/* ШАПКА */

    header {
        width: 100%;
        height: 60px;
    }
    header #title {
        top: 30px;
        font-size: 1.75em;
    }
    header .mobile-call.icon {
        top: 35px;
        width: 30px;
    }
    
    .menu__btn {
        top: 32px;
        left: 10%;
    
        width: 30px;
        height: 35px;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        height: 2.75px;
    }
    .menu__btn > span::before {
        top: -10px;
    }
    .menu__btn > span::after {
        top: 10px;
    }
    
    /* элементы меню */
    .menu__item {
        padding: 7px 20px;
    }

/* ГЛАВНАЯ */

    /* полоса краски */
    body {
        background-size: 1000px;
        background-position-x: 65%;
        background-position-y: 20px;
    }

    section#home {
        padding-top: 75px;
        margin-bottom: 75px;
    }    
    section#home h1 {
        padding: 25px 0;
        font-size: 2em;
    }    
    section#home .main p {
        width: 90%;
        font-size: .875em;
        margin-top: 0px;
    }

    section#home .feedback-form {
        margin-top: 50px;
    }

    section#home a.button {
        font-size: .7em;
        padding: .75em 3em;
    }

    .feedback-form input[type=text], .feedback-form select, .feedback-form textarea {
        font-size: .55em;
    }

    .feedback-form .sec-title h2 {
        font-size: 1em;
    }

    .feedback-form .sec-title p {
        font-size: .55em;
    }

    /* шрифт кнопки */
    .feedback-form #sendform .button {
        
        font-size: .75em;
        width: 100%;
    }

    section#portfolio {
        padding-top: 0;
    }

    .item-body h3 {
        font-size: 1em;
        margin-bottom: 5px;
        height: auto;
    }
    .item-body p {
        font-size: .7em;
    }
    .item-content {
        padding: 0;
    }
    .post-item .item-icon img {
        width: 30px;
        height: 30px;
    } 
    .color-circle {
        width: 35px;
        height: 35px;
        
        margin-top: -50px;
    }
    .post-item:hover .color-circle {
        margin-top: -58px;
    }

    
    .hww-block {
        height: auto;
        display: block;
    }
    .preview img {
        width: auto;
        height: 30px;
    }
    .box {
        width: 100%;
        height: 100px;
    }

    .box:hover{
        height: 250px;
        background-position: center;
    }
    .text {
        width: 270px;
    }
    .text h2 {
        font-size: 1.5em;
    }

    h4 {
        font-size: 1.1em;
    }

    #bio p, p {
        font-size: .8em;
    }

    #faq .c {
        width: 280px;
    }
    #faq label {        
        padding-right: 15px;
    }
    #faq h1{
        font-size: .6em;
    }
    
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
    
/* ШАПКА */

}



