/* 

НАВИГАЦИЯ:
1. 



/* ========== Desktop First ========== */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
    .container {
        width: 90%;
    }

    /* секции */
    section {
        padding-top: 11%;
    }

    section#porfolio {
        padding-top: 11%;
    }

    .menu__btn {
        left: 5%; /* left - кнопка слевой стороны | right - справой стороны | + появление меню + контейнер меню */
    }

    /* элементы меню */
    .menu__item {
        padding: 12px 14%;
    }

    /* звонок */
    header .mobile-call {
        right: 5%;
    }

    /* инфа */
    section#home .info {
        padding-top: 5%;
    }

    section#home h1 {
        margin-left: 0%;
    }

    /* ⬇ 3.1 КНОПКА "ХОЧУ РЕМОНТ!" ⬇ */
    section#home .button {
        margin-top: 7.5%;
    }

    .post-item {
        height: 425px;
    }

     /* параграф */
    .item-body p {
        margin-left: 0%;
        font-size: 1.5em;

    }

    .item-body h3 {
        margin-left: 0%;
        font-size: 1.6em;
        height: 50px;
    }

    
    #faq .container {
        width: 75%;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1024px) {
    .container {
        width: 95%;
    }

     /* контент блока */
    .item-content {
        padding: 20px;
    }

    .item-body p {
        font-size: 16px;    
    }

     /* блок */
    .post-item {
        height: 50%;
    }

    footer a, footer .content h4, footer .copyright p {
        font-size: 14px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    .container {
        width: 100%;
    }

    .hww-block {
        padding-left: 2.5%;
        padding-right: 2.5%;
    }

    .text {
        width: 95%;    
    }

    section#about {
        padding-left: 2.5%;
        padding-right: 2.5%;
    }

    /* колонны */
    .colomn-twice-item {
        width: 47.5%;
        height: auto;
        margin-top: 2%;
    }

    .post-item {
        flex-basis: 33.333333333%;
    }
    body{
        margin: 0;
    }
    .accordion {
        flex-direction: column;
        height: 700px;
        box-shadow: none;
    }
    .box {
        box-shadow: none;
    }
    .box:hover {
        flex: 7;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    .post-item {
        flex-basis: 50%;
        flex-shrink: 0;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
    
}



