/* 

НАВИГАЦИЯ:
1. 


*/


/* ========== Desktop First ========== */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

/* ОСНОВНОЕ */
    .container {
        width: 100%;
    }

/* ШАПКА */

    header .mobile-call {
        left: 50%;
        transform: translate(-50%, -50%);
        margin-left: 365px;
    }

    .menu__btn {
        left: 50%;
        transform: translate(-50%, -50%);
        margin-left: -440px;
    }

    .menu__item {
        padding: 12px 14%;
    }
    
/* ГЛАВНАЯ */

    /* полоса краски на главной */
    body {
        /* background-size: 1850px; */
        background-position-x: 50%;
    }

    section#home {
        padding-top: 100px;
    }

    section#home h1 {
        padding-top: 5%;
        padding-bottom: 5%;
    
        font-size: 3.5em;
    }

    section#home .button {
        margin-top: 90px;
    }

/* ПОРТФОЛЬО */

    /* колонны галереи */
    .gallery__column {
        display: block;
        padding: 0 10px;
    }

    /* галерея */
    .gallery {
        padding: 0 10px;
    }

/* НАШИ ПРЕИМУЩЕСТВА */

    .post-item {
        height: 350px;
    }

    .item-content {
        padding: 5px;
    }

    .item-body h3 {
        margin-left: 0%;
        font-size: 1.75em;
        height: 50px;
    }

    .item-body p {
        margin-left: 0%;
        font-size: 1.3em;

    }

    .hww-block {
        padding: 0 20px;
    }

/* НАШИ ПРЕИМУЩЕСТВА */

    section#about h2 {
        padding: 0 20px;
    }

    .colomn-twice-wrap {
        padding: 0 10px;
    }

    .colomn-twice-item {
        padding: 0 0px;
    }
    
    #faq .c {
        width: 900px;
    }
    
    /* Modal Content */
    .modal-content {
        width: 90%;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 992px) {

/* ШАПКА */

    header .mobile-call.numbers {
        display: none;
    } 

    header .mobile-call.icon {
        display: block;

        right: 1px;
        margin: 0 auto;
    } 

    .menu__btn {
        left: 40px;
        margin-left: 0;
    }

/* ГЛАВНАЯ */

    /* полоса краски */
    body {
        background-size: 1850px;
        background-position-x: 60%;
    }

    section#home .main p {
        font-size: 1.3em;
        margin: 0 auto;
        width: 100%;
    }

    section#home p.list {
        width: 700px;
    }
    
    .symb3 {
        display: inline-block;
    }

    .symb2 {
        display: none;
    }

    /* текстовые поля */
    .feedback-form input[type=text], .feedback-form select, .feedback-form textarea {
        width: 100%; /* Full width */
        padding: 12px; /* Some padding */ 
        border: 0;
        border-bottom: 1px solid black;
        border-radius: 0;
        background-color: whitesmoke;
        box-sizing: border-box; /* Make sure that padding and width stays in place */
        margin-top: 6px; /* Add a top margin */
        margin-bottom: 16px; /* Bottom margin */
        resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
        font-size: 1em;
    }

    .feedback-form textarea {
        min-height: 200px;
    }

    /* поле имени и фамилии */
    .feedback-form input.name {
        width: 47%;
        float: left;
    }

    /* поле фамилии */
    .feedback-form input#lname {
        float: right;
    }

    .feedback-form .sec-title h2 {
        font-size: 2em;
    }

    .feedback-form .sec-title p {
        font-size: 1em;
    }

    /* шрифт кнопки */
    .feedback-form #sendform .button {
        width: 50%;
        padding: 2.5%;
        margin: 20px 0;
        font-size: 1em;
    }

/* ПОРТФОЛЬО */

    /* галерея */
    .gallery {
        padding: 0 5px;
    }

/* НАШИ ПРЕИМУЩЕСТВА */

    .item-body h3 {
        width: 1%;
        font-size: 1.5em;
    }
    .item-content {
        padding: 5px;
    }

    .item-body p, #bio p {
        font-size: 1em;    
    }

    .post-item {
        height: 50%;
    }

    .hww-block {
        height: auto;
        display: block;
    }

    .box {
        width: 100%;
        height: 300px;
        margin-bottom: 10px;
        
        box-shadow: 0px 20px 10px 0px rgba(0, 0, 0, 0.2) inset;
    }

    .preview img {
        width: auto;
        height: 50px;
    }

    .text {
        opacity: 1;
    }

    /* КАК МЫ РАБОТАЕМ */
    .box:hover {
        flex: 7;
        height: 300px;
    }

/* ВОПРОСЫ */

    #faq .c{
        width: 100%;
        position: relative;
        margin: 2em auto;
        padding: 0 25px;
    }

    #faq h1{
        font-size: 1.1em;
    }

    footer .container {
        padding: 0 20px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    
/* ОСНОВНОЕ */


    body{
        margin: 0;
    }
    section {
        padding-top: 100px;
    }

    .sec-title h2 {
        font-size: 1.6em;
    }
    .sec-title p {
        font-size: .85em;
    }
    
    /* кнопки */
    .button {
        padding: 1em 3em;
        font-size: 1em;
    }

/* ШАПКА */

    /* контейнер меню */
    .menu__box {
        width: 250px;
    }

    /* элементы меню */
    .menu__item {
        padding: 12px 24px;
    }

/* ГЛАВНАЯ */
    
    /* полоса краски */
    body {
        background-position-x: 65%;
        background-position-y: -50px;
    }

    /* заголовок на главной */
    section#home h1 {
        font-size: 3em;
        padding: 50px 0px;
    }    
    /* текст на главной */
    section#home .main p {
        width: 80%;
    }
    /* кнопка на главной */
    section#home .button {
        margin-top: 60px;
    }

/* ФИДБЕК */

    .feedback-form input[type=text], .feedback-form select, .feedback-form textarea {
        font-size: .75em;
    }

    /* поле имени и фамилии */
    .feedback-form input.name {
        width: 100%;
    }

    /* поле фамилии */
    .feedback-form input#lname {
        float: left;
    }

    .feedback-form .sec-title h2 {
        font-size: 1.75em;
        text-align: center;
    }

    .feedback-form .sec-title p {
        font-size: .75em;
        text-align: center;
    }

/* ПОРТФОЛЬО */

    /* галерея */
    .gallery {
        padding: 0 5px;
    }
    
/* НАШИ ПРЕИМУЩЕСВА */

    .post-item {
        min-height: 100%;
        
        padding: 15px;
        cursor: pointer;
    }
    .item-body h3 {
        font-size: 1.4em;
    }
    .post-item .item-icon img {
        width: 40px;
        height: 40px;
    } 
    .color-circle {
        width: 40px;
        height: 40px;
    }

/* КОМПАНИЯ */

    section#about h2, .colomn-twice-wrap, .hww-block {
        padding: 0 10px;
    }

    .colomn-twice-item {
        
        margin-top: 0;
        margin-left: 0;
    } 

    /* ВОПРОСЫ */
    
    #faq .c{
        width: 100%;
        position: relative;
        margin: 2em auto;
        padding: 0 10px;
    }

    #faq h1{
        font-size: 1em;
        padding-right: 20px;
    }

/* КОНТАКТ */

    #contact .colomn-twice-item {
        width: 100%;
        margin-top: 0;
        margin-left: 0;
    }

    #contact .colomn-twice-item#map {
        margin-top: 16px;
    }

    #contact .colomn-twice-item#sendform .button {
        float: right;
    }

/* ФУТЕР */

    footer .container {
        width: 100%;
        padding: 0 10px;
    }
    footer {
        margin-top: 50px;
    }
    .colomn-four-item {
        width: 100%;
        height: auto;
        margin-top: 15px;

        padding: 0;
    }

    .footer-down p .symb {
        display: none;
    }

    .footer-down p {
        text-align: left;
    }

    .footer-down p a {
        display: block;
        width: 100%;
        padding: 5px 0;
    }
}

/* Non standart size (only for special elements) */
@media only screen and (max-width: 735px) {

    /* колонны галереи */
    .gallery__column {
        padding: 0 2px;
    }

    /* галерея */
    .gallery {
        padding: 0 0px;
        margin: auto -2px;
    }

    /* бокс пикчи */
    .gallery__link {
        margin: 0;
    }

    /* блок пикчи */
    .gallery__thumb {
        margin: 4px 0;
    }

    
    .post-item {
        max-width: 50%;

        padding: 10px;
    }
}

/* Non standart size (only for special elements) */
@media only screen and (max-width: 600px) {
    .colomn-twice-item {
        width: 100%;
        margin-top: 0;
        margin-left: 0;
    } 

    #logo.colomn-twice-item img {
        width: 100%;
    }

    #faq .p, #faq .p .paragraps p {
        width: 100%;
        margin: 0;
    }

    #faq .p .paragraps {
        padding: 20px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

/* ОСНОВНОЕ */

    /*убираем подчеркивание текста ссылок*/
    a {
        font-size: .875em;
    }

    /* шрифт параграфов */
    p, input, select, textarea, li {
        font-size: .875em;
    }

    /* заголовки1 */
    h1 {
        font-size: 2em;
    }

    /* заголовки2 */
    h2 {
        font-size: 1.5em;
    }

    /* заголовки3 */
    h3 {
        font-size: 1em;
    }

    /* заголовки4 */
    h4 {
        font-size: .75em;
    }

/* ШАПКА */
    /* выравниваем кнопку меню */
    .menu__btn {
        top: 20px;
        left: 30px;
        height: 35px;

        position: fixed;
        z-index: 9999;
    }
    .menu__btn > span::before {
        display: none;
    }
    /* выравниваем контейнер меню */
    .menu__box {
        width: 100%;
        height: 100%;
        opacity: .95;
        z-index: 9990;
    }
    /* адаптируем элементы меню */
    .menu__item {
        font-size: 1.5em;
        padding: 15px 20px;
    }
    /* убираем наведение */
    .menu__item:hover {
        color: inherit;
    }
    /* добавляем подсветку по нажатию */
    .menu__item:active {
        color: #F59552;
        animation-delay: .5s;
    }

    /* уменьшаем и выравниваем имя сайта */
    header #title {
        width: 100%;
        text-align: center;
        top: 22.5px;
        font-size: 2em;

        margin: 0;
    }
    /* убираем наведение */
    header a:hover {
        color: inherit;
    }
    /* добавляем подсветку по нажатию */
    header a:active {
        color: #F59552;
    }

    /* выравниваем иконку звонка */
    header .mobile-call.icon {
        top: 25px;
        width: 20px;
        margin-right: 10px;
    }

/* ГЛАВНАЯ */

    /* поправляем полоску краски */
    body {
        background-size: 1200px;
        background-position-x: 65%;
        background-position-y: 0px;
    }
    /* поправляем секцию */
    section {
        padding-top: 50px;
    }
    section#start {
        padding-bottom: 125px;
    }
    /* афиша */
    section#start h1 {
        font-size: 2.5em;
        padding: 0 7px;
        margin: 50px 0;
    }
    /* убираем перевод строки */
    section#start h1 br {
        display: none;
    }
    /* добавляем перевод строки */
    section#start h1 br.phone {
        display: block;
    }
    /* убираем лишний пробел */
    section#start .afisha br {
        display: none;
    }
    /* стилизируем текст */
    section#start .afisha p {
        width: 100%;
        font-size: 1.25em;
        margin-top: 0px;
        padding: 0 10px;
    }
    /* выравниваем кнопку */
    section#start .feedback-form {
        padding: 0;
        margin-top: 50px;
    }
    /* адаптируем кнопку */
    section#start .feedback-form a {
        font-size: 1.1em;
        padding: 15px 100px;
    }

/* ГАЛЕРЕЯ */
    
    /* двигаем секцию портфолио */
    section#portfolio {
        padding-top: 25px;
    }
    /* адаптируем отступы колон */
    .gallery__column {
        padding: 2.5px;
    }
    /* убраем пробел слева */
    .gallery__column:first-child {
        margin-left: -2.5px;
    }
    /* убраем пробел справа */
    .gallery__column:last-child {
        margin-right: -2.5px;
    }
    /* адаптируем пробелы линий */
    .gallery__thumb {
        margin: 10px 0;
    }
    /* сглаживаем углы галереи */
    .gallery__column .gallery__image, .gallery__column .gallery__caption {
        border-radius: 15px;
    }
    /* сглаживаем правые углы галереи */
    .gallery__column:first-child .gallery__image, .gallery__column:first-child .gallery__caption {
        border-radius: 0px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    /* сглаживаем левые углы галереи */
    .gallery__column:last-child .gallery__image, .gallery__column:last-child .gallery__caption {
        border-radius: 0px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

/* НАШИ ПРЕИМУЩЕСТВА */

    .post-item {
        max-width: 100%;
        padding: 20px;
    }
    .item-content {
        position: relative;
    }  
    .item-body h3 {
        position: absolute;
        top: 12.5px;
        left: 55px;
        width: auto;
        font-size: 1.35em;
        margin-bottom: 5px;
        height: auto;
    }
    .item-body p {
        text-align: justify;
        width: 100%;
        font-size: 1.1em;
    }
    .item-content {
        padding: 0;
    }
    .post-item .item-icon img {
        width: 35px;
        height: 35px;
    } 
    .color-circle {
        width: 35px;
        height: 35px;
        
        margin-top: -50px;
        margin-left: 10px;
    }

/* КАК МЫ РАБОТАЕМ */
    
    #howwework .howwework-item {
        width: 50%;
        padding: 0 10px;
        height: 175px;
    }

    .howwework-item .howwework-content {
        width: 100%;
        height: 125px;
        
    }
    .howwework-content#a,.howwework-content#b, .howwework-content#c, .howwework-content#d, .howwework-content#e, .howwework-content#f, .howwework-content#g, .howwework-content#h {
        background-size: auto 35px;
    }

    .howwework-content h3 {
        font-size: .8em;
        padding-top: 80px;
    }
    hr.hww-hatch#top {
        margin-top: 36px;
        margin-left: 100px;
    }
    hr.hww-hatch.phone {
        margin-top: 36px;
    }
    hr.hww-hatch#bottom {
        margin-top: 36px;
        margin-left: -110px;
        width: 100%;
    }
    .howwework-item hr.howwework-point {
        display: none;
    }
    .howwework-item h4.num {
        margin-bottom: 50px;
        padding-right: 0px;
    }
    .num::before {
        content: '';
        position: absolute;

        margin-top: 20px;
        margin-left: -10.5px;

        width: 35px;
        height: 35px;

        border-radius: 50%;
        background: #F59552;
        opacity: .5;
    }
    .num::after {
        content: '';
        position: absolute;

        margin-top: 29px;
        margin-left: -14px;

        width: 15px;
        height: 15px;

        border-radius: 50%;
        background: #F59552;
    }
    .wrapper {
        padding: 25px 0;
        height: 750px;
    }
    .about-content {
        position: relative;
    }
    #about .about-content .paragraph {
        width: 100%;
        font-size: 1em;
    }
    .paragraph.f {
        margin-top: -150px;
    }
    .paragraph.l {
        margin-top: 25px;
    }
    .about-logo {
        position: relative;
        width: 350px;
        height: 350px;

        margin-top: 175px;
        padding: 35px;

        border-radius: 50%;
    }
    .about-logo::before {
        margin-top: -1px;
        left: -15%;
        width: 65%;

        top: 0;
    }
    .about-logo::after {
        right: -15%;
        width: 65%;
        bottom: -1px;
    }

    .about-logo img {
        margin-top: -10px;
    }
    

    #faq h1 {
        font-size: 1em;
        padding-right: 25px;
    }
    #faq label {
        padding-right: 20px;
    }

    #faq label::after {
        margin-right: -30px;
    }

    #faq .p, #faq .p .paragraps p {
        width: 100%;
        margin: 0;
    }

    #faq .p .paragraps {
        font-size: 1em;
    }

    #calc .container {
        width: 100%;
    }

    #contact .colomn-twice-item#sendform .name, #sendform .button {   
        width: 100%;        
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
    
/* ШАПКА */
    .post-item {
        max-width: 100%;

        padding: 10px;
    }

    .item-body h3 {
        width: 100%;
        margin: 5px auto;
    }

    #bio p {
        text-align: justify;
    }

    #faq h1 {
        font-size: .7em;
        padding-right: 25px;
    }

    #faq label::after {
        margin-right: -30px;
    }

    #faq input:checked ~ h1 label::after {
        margin-right: -20px;
    }

    #faq .p, #faq .p .paragraps p {
        width: 100%;
        margin: 0;
    }

    #faq .p .paragraps {
        padding: 20px 0px;
    }
}



