/* ============ Desktop First ============ */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
    #upper {
        border-top-right-radius: 0;
        border-bottom-right-radius: 1vw;
        left: -100%;
    }
    #lower {
        top: 10vw;
        
        left: -100%;
    }
    .shortcut {
        width: 5vw;
        height: 5vw;
        right: -5vw;
        top: 0;
    }
    .shortcut p {
        font-size: 3.5vw;
    
        padding: 0 0 0 35%;
    }
    footer {
        position: relative;
    }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    /*  */
    header {
        height: 10%;
    }
    header #title {
        position: absolute;
        top: 3%;
        left: 2%;
        width: 15%;
        text-align: center;
        font-size: 3vw;
    }
    header #caption {
        position: absolute;
        top: 2.5%;
        right: 3.25%;
        font-size: 2vw;
    }

    #upper {
        height: 35%;
        width: 150%;

        left: -150%;
    }
    #upper a {
        font-size: 2vw;
    }

    #lower {
        height: 35%;
        width: 150%;

        left: -150%;
    }
    
    /* Ссылки нижнего меню */
    #lower a {
        font-size: 1.5vw;
    }

    footer {
        position: absolute;
        bottom: 0;
        height: 10%;
    }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    /*  */

}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    /*  */

}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
    /*  */

}