/* ============ Desktop First ============ */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
    
    header #title {
        position: absolute;
        top: 3%;
        left: 2%;
        width: 15%;
        text-align: center;
        font-size: 3vw;
    }
    header #caption {
        position: absolute;
        top: 2.5%;
        right: 3.25%;
        font-size: 2vw;
    }
    #upper {
        height: 35%;
        width: 150%;
        
        border-top-right-radius: 0;
        border-bottom-right-radius: 1vw;
        left: -150%;
    }
    #upper a {
        font-size: 2vw;
    }
    #lower {
        height: 35%;
        width: 150%;

        top: 10vw;
        
        left: -150%;
    }
    #lower a {
        font-size: 2vw;
    }
    .shortcut {
        width: 5vw;
        height: 5vw;
        right: -5vw;
        top: 0;
    }
    .shortcut p {
        font-size: 3.5vw;
    
        padding: 0 0 0 35%;
    }
    footer {
        position: relative;
    }
    footer a {
        font-size: 1.5vw;
        margin-top: 3%;
    }
    footer nav:last-child {
        margin-top: 1%;
    }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 1200px) {
    /*  */
    header {
        height: 10%;
    }
    header #title {
        position: absolute;
        top: 3%;
        left: 2%;
        width: 15%;
        text-align: center;
        font-size: 3vw;
    }
    header #caption {
        position: absolute;
        top: 2.5%;
        right: 3.25%;
        font-size: 2vw;
    }
    #upper {
        height: 35%;
        width: 200%;
        
        left: -200%;
    }
    #upper a {
        font-size: 3vw;
    }
    #lower {
        height: 35%;
        width: 200%;
        
        left: -200%;
    }
    #lower a {
        font-size: 3vw;
    }
    #base #mustitle {
        font-size: 17vw;
    }
    .shortcut {
        width: 10vw;
        height: 10vw;
        right: -10vw;
        top: 0;
    }
    .shortcut p {
        font-size: 5vw;
    
        padding: 0 0 0  35%;
    }
    #lower {
        top: 17vw;
    }

    footer {
        position: absolute;
        bottom: 0;
        height: 10%;
    }
    footer a {
        font-size: 4vw;
    }
    footer nav { 
        width: 40%;
    }
    #right {
        /* right: 2%; */
        top: 175%;
        left: -54%;
        padding-bottom: 40px;
    }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    header #title {
        top: 3%;
        left: 4%;
        width: 15%;
        font-size: 5vw;
    }
    header #caption {
        position: absolute;
        top: 2.5%;
        right: 5.25%;
        font-size: 4vw;
    }

    #base #mustitle {
        font-size: 17vw;
    }

    #upper {
        height: 50%;
        width: 300%;
        
        border-top-right-radius: 0;
        border-bottom-right-radius: 2vw;
        left: -300%;
    }
    #upper a {
        font-size: 4vw;
    }
    #lower {
        height: 50%;
        width: 300%;

        top: 15vw;
        
        left: -300%;
    }
    #lower a {
        font-size: 4vw;
    }

    .shortcut {
        width: 12vw;
        height: 12vw;
        right: -12vw;
        top: 0;
        
        border-radius: 0 1vw 1vw 0;
    }
    .shortcut p {
        font-size: 7vw;
    
        padding: 0 0 0  35%;
    }

    footer {
        position: absolute;
        bottom: 0;
        height: 10%;
        padding-top: 10px;
    }
    footer nav { 
        width: 50%;
    }
    #right {
        /* right: 2%; */
        top: 175%;
        left: -44%;
        padding-bottom: 40px;
    }
    footer a {
        font-size: 4vw;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    #upper {
        height: 40%;
        width: 350%;

        left: -350%;
    }
    #lower {
        height: 40%;
        width: 350%;

        left: -350%;
    }
    #right {
        /* right: 2%; */
        left: -44%;
        padding-bottom: 40px;
    }
    footer a {
        font-size: 5vw;
    }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
    /*  */

}