/* Все и сразу */
* {
    margin: 0 auto;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

/* Ширина и длина страницы для текста и таблицы стилей (css) */
body, html {
    width: 100%;
    height: 100%;
}

/* Базовые настройки для всей страницы */
body {
    overflow-x: hidden;
    font-family: Cony-Regular, monospace;
}

/* Импорт шрифта Cony-light */
@font-face {
    font-family: Cony-Light; /* Гарнитура шрифта */
    src: url(fonts/Cony-Light.otf); /* Путь к файлу со шрифтом */
}

/* Импорт шрифта Cony-Regular */
@font-face {
    font-family: Cony-Regular; /* Гарнитура шрифта */
    src: url(fonts/Cony-Regular.otf); /* Путь к файлу со шрифтом */
}

/* Импорт шрифта ApexMK3 */
@font-face {
    font-family: ApexMK3; /* Гарнитура шрифта */
    src: url(fonts/ApexMK3.ttf); /* Путь к файлу со шрифтом */
}

/* Импорт шрифта Elisabethische */
@font-face {
    font-family: Elisabethische; /* Гарнитура шрифта */
    src: url(fonts/Elisabethische.ttf); /* Путь к файлу со шрифтом */
}

/* Импорт шрифта Philosopher */
@font-face {
    font-family: Philosopher; /* Гарнитура шрифта */
    src: url(fonts/Philosopher.otf); /* Путь к файлу со шрифтом */
}

/* Шапка */
header {
    height: 10%;
    width: 100%;

    background-color: white;
}

/* Заголовки1 Шапки */
header h1 {    
    font-family: Cony-Regular, monospace;
    text-align: center;
}

/* Заголовок страницы */
header #title {
    position: absolute;
    top: 3%;
    left: 3.25%;

    font-size: 200%;
}

/* Подпись школы */
header #caption {
    position: absolute;
    top: 2.5%;
    right: 3.25%;

    font-size: 135%;
}

/* Контейнер */
.container {
    width: 90%;
}

/* Основная секция страницы */
#main {
    min-height: 80%;
    width: 100%;
}

/* Фото и инфа */
#base {
    position: absolute;
    right: 0;

    height: 80%;
    width: 85%;

    background:
        linear-gradient(to right, rgba(92, 41, 68, 0.25) 100%, rgba(0, 0, 0, 0) 0%),
        /* При смене картинки достаточно заменить фото в папке с таким же именем */
        url(../img/index/bg-main.jpg) no-repeat;
    background-position: right;
    background-size: cover;
}

#base #mustitle {
    position: absolute;
    bottom: 0;
    left: 2%;

    font-family: Philosopher, sans-serif;
    font-size: 1100%;
    font-weight: 100;
    color: white;
}

/* Меню в целом */
#menu {
    position: absolute;
    left: 0;

    height: 80%;
    width: 15%;
}

/* Верхнее меню */
#upper {
    position: absolute;
    left: 0;

    height: 50%;
    width: 100%;

    background-color: #EADBDB;
}

/* Ссылки верхнего меню */
#upper a {
    text-decoration: none;
    color:  #5C2944;
    display: inline-block;
    font-size: 130%;
}

/* Каждый пункт верхнего меню */
#upper li {
    padding-bottom: 15px;
    padding-top: 15px;
}

#lower {
    position: absolute;
    left: 0;
    top: 50%;

    height: 50%;
    width: 100%;

    background-color: #5C2944;
}

/* Ссылки нижнего меню */
#lower a {
    text-decoration: none;
    color:  #EADBDB;
    display: inline-block;
    font-size: 100%;
    letter-spacing: 1.5px;
}

/* Каждый пункт нижнего меню */
#lower li {
    padding-bottom: 15px;
    padding-top: 15px;
}

/* Ссылки-пункты меню */
.widget a {
    width: 100%;
}

/* Линии текста Меню */
.widget li {
    padding-left: 10px;
}

/* Декорированные линии Меню */
.widget .line {
    position: absolute;
    width: 85%;
    height: 1px;
    background: linear-gradient(to right, rgb(189, 124, 133) 0%,rgb(189, 124, 133, 0) 100%);
}

/* Последний элемент линии */
.widget li:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* Наведение на ссылки меню */
.widget li:hover {
    background: #BD7C85;
    transition-duration: 0.35s;
}

/* Уведение с ссылки меню */
.widget li:not(:hover) {
    transition-duration: 0.25s;
}

/* Подвал */
footer {
    height: 10%;
    width: 100%;

    background-color: white;
}

/* Левые ссылки футера */
#left {
    left: 2%;
}

/* Правые ссылки футера */
#right {
    right: 2%;
}

/* Меню футера */
nav {
    position: absolute;
}

/* Ссылки меню футера */
nav a {
    font-family: Cony-Light, monospace;
    text-decoration:none;
    color: black;
    margin: 1% 15px;
    font-size: 120%;
    letter-spacing: 1.5px;
    position:relative;
    display:inline-block;
}

/* Зачеркивающая линия */
nav a:before {
  content:'';
  position: absolute;
  width: 100%;
  height: 1px;
  top: 65%;

  background: #16151b;

  animation:out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}

/* Наведение */
nav a:hover:before {
  animation:in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}

/* Анимация зачеркивания вперед */
@keyframes in{
  0%{
    width: 0;
    left:0;
    right:auto;
  }
  100%{
    left:0;
    right:auto;
    width: 100%;
  }
}

/* Анимация зачеркивания назад */
@keyframes out{
  0%{
    width:100%;
    left: auto;
    right: 0;
  }
  100%{
    width: 0;
    left: auto;
    right: 0;
  }
}

/* Анимация зачеркивания доп. */
@keyframes show{
  0%{
    opacity:0;
    transform:translateY(-10px);
  }
  100%{
    opacity:1;
    transform:translateY(0);
  }
}
