

/* ---- ГЕНЕРАЛЬНЫЕ НАСТРОЙКИ | НАЧАЛО КОДА ---- */


/* Все и сразу */
* {
    margin: 0 auto;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

/* Ширина и длина страницы для текста и таблицы стилей (css) */
body, html {
    width: 100%;
    height: 100%;
}

/* Базовые настройки для всей страницы */
body {
    overflow-x: hidden;
    font-family: Cony-Regular, monospace;
}

/* Контейнер */
.container {
    width: 65%;
}



/* ---- ГЕНЕРАЛЬНЫЕ НАСТРОЙКИ | КОНЕЦ КОДА ---- */



/* ---- ШРИФТЫ | НАЧАЛО КОДА ---- */



/* Импорт шрифта Cony-light */
@font-face {
    font-family: Cony-Light; /* Гарнитура шрифта */
    src: url(fonts/Cony-Light.otf); /* Путь к файлу со шрифтом */
}

/* Импорт шрифта Cony-Regular */
@font-face {
    font-family: Cony-Regular; /* Гарнитура шрифта */
    src: url(fonts/Cony-Regular.otf); /* Путь к файлу со шрифтом */
}

/* Импорт шрифта TedescaLamont */
@font-face {
    font-family: TedescaLamont; /* Гарнитура шрифта */
    src: url(fonts/TedescaLamont.ttf); /* Путь к файлу со шрифтом */
}



/* ---- ШРИФТЫ | КОНЕЦ КОДА ---- */





/* ---- ШАПКА | НАЧАЛО КОДА ---- */



/* Шапка */
header {
    height: 10%;
    width: 100%;

    background-color: white;
}

/* Заголовки1 Шапки */
header h1 {    
    font-family: Cony-Regular, monospace;
    text-align: center;
}

/* Заголовок страницы */
header #title {
    position: absolute;
    top: 3%;
    left: 0;

    width: 15%;
    text-align: center;

    font-size: 1.5vw;
}

/* Подпись школы */
header #caption {
    position: absolute;
    top: 2%;
    right: 3.25%;

    font-size: 1.25vw;
}



/* ---- ШРИФТЫ | КОНЕЦ КОДА ---- */



/* Основная секция страницы */
#main {
    min-height: 84%;
    width: 100%;
}

/* Фото и инфа */
#base {
    align-items: center;

    height: 80%;
    width: 85%;
}


/* ---- МЕНЮ | НАЧАЛО КОДА ---- */


/* Меню в целом */
#menu {
    position: absolute;
    z-index: 999;
    left: 0;

    height: 80%;
    width: 15%;
}

/* Ярлыки меню */
.shortcut {
    position: absolute;
    
    width: 2.4vw;
    height: 5vw;
    
    right: -2.4vw;
    bottom: 0;
    
    border-radius: 0 0.5vw 0.5vw 0;
    z-index: 999;
}

/* Стрелка ярлыков */
.shortcut p {
    font-size: 2.5vw;
    color: #16151b;
    cursor: default;

    padding: 15% 0 0 30%;
}

/* Антивыделение стрелки */
.shortcut p::selection {
    background: transparent;
}

/* Антисдвиг стрелки */
.shortcut p::-moz-selection {
    background: transparent;
}

/* Верхнее меню */
#upper {
    position: absolute;
    left: -90%;

    height: 50%;
    width: 100%;

    border-top-right-radius: 1vw;
    background-color: #EADBDB;
}

/* Ссылки верхнего меню */
#upper a {
    text-decoration: none;
    color:  #5C2944;
    display: inline-block;
    font-size: 1.3vw;
}

/* Каждый пункт верхнего меню */
#upper li {
    padding-bottom: 15px;
    padding-top: 15px;
}

/* Верхний ярлык */
#up-shortcut {
    background-color: #EADBDB;
}

/* Наделение на верхний ярлык */
#upper:hover {
    left: 0;
    transition-duration: 0.5s;
}

/* Уведение с ссылки меню */
#upper:not(:hover) {
    transition-duration: 0.4s;
}

/* Нижнее меню */
#lower {
    position: absolute;
    left: -90%;
    top: 50%;

    height: 50%;
    width: 100%;

    
    border-bottom-right-radius: 1vw;
    background-color: #5C2944;
}

/* Ссылки нижнего меню */
#lower a {
    text-decoration: none;
    color:  #EADBDB;
    display: inline-block;
    font-size: 0.8vw;
    font-weight: 100;
    letter-spacing: 1.5px;
}

/* Каждый пункт нижнего меню */
#lower li {
    padding-bottom: 15px;
    padding-top: 15px;
}

/* Нижний ярлык */
#low-shortcut {
    top: 0;

    background-color: #5C2944;
}

/* Наведение на нижнее меню */
#lower:hover {
    left: 0;
    transition-duration: 0.5s;
}

/* Уведение с ссылки меню */
#lower:not(:hover) {
    transition-duration: 0.4s;
}

/* Ссылки-пункты меню */
.widget a {
    width: 100%;
}

/* Линии текста Меню */
.widget li {
    padding-left: 10px;
}

/* Декорированные линии Меню */
.widget .line {
    position: absolute;
    width: 85%;
    height: 1px;
    background: linear-gradient(to right, rgb(189, 124, 133) 0%,rgb(189, 124, 133, 0) 100%);
}

/* Последний элемент линии */
.widget li:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* Наведение на ссылки меню */
.widget li:hover {
    background: linear-gradient(to right, rgb(189, 124, 133) 0%,rgb(189, 124, 133, 0) 95%);

    transition-duration: 0.35s;
}

/* Уведение с ссылки меню */
.widget li:not(:hover) {
    transition-duration: 0.25s;
}


/* ---- МЕНЮ | КОНЕЦ КОДА ---- */





/* ---- ЗАГОЛОВОК | НАЧАЛО КОДА ---- */



/* Основная часть страницы | Область контента */
#head {
    position: absolute;
    z-index: 0;
    padding: 1.5% 1% 0 1%;

    width: 100%;
    height: 40%;
    
    left: 0;

    background: #16151b;
}

/* Заголовоок контента */
#head h1 {
    margin-left: 2vw;

    color: #EADBDB;

    font-family: TedescaLamont;
    font-weight: 100;
    font-size: 3vw;
}

#down {
    margin-left: 4.2vw;
}

#head #cap-line {
    position: absolute;
    width: 17%;
    height: 4px;

    bottom: 63%;

    background: #5C2944;
    background-position: center;
    background-size: cover;
}

#head #des-line {
    position: absolute;
    width: 7.5%;
    height: 4px;

    margin-left: 19%;
    bottom: 63%;

    background: #EADBDB;
    background-position: center;
    background-size: cover;
}

#head #capture {
    position: absolute;
    width: 17%;
    height: 60%;

    bottom: 0;

    background: url(../img/museum-history/head.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

#head #description {
    position: absolute;
    width: 7.5%;
    height: 30%;

    margin-left: 19%;
    bottom: 30%;

    border: 1px #EADBDB solid;
}

#description p {
    color: #EADBDB;

    font-family: Cony-Light;
    font-weight: 100;
    font-size: 1.3vw;
}

#description p:first-child {
    position: absolute;
    
    top: 2%;
    left: 5%;

    text-align: left;
}

#description p:last-child {
    position: absolute;

    right: 5%;
    bottom: 2%;

    text-align: right;
}



/* ---- ЗАГОЛОВОК | КОНЕЦ КОДА ---- */





/* ---- СОДЕРЖАНИЕ | НАЧАЛО КОДА ---- */



#text {
    padding-top: 26%;    

    width: 100%;
}

#text .container {
    width: 70%;
}

#text p {
    font-size: 1.5vw;
    text-align: justify;

    text-indent: 2vw;
}



/* ---- СОДЕРЖАНИЕ | КОНЕЦ КОДА ---- */





/* ---- ПОДВАЛ | НАЧАЛО КОДА ---- */




/* Подвал */
footer {
    position: absolute;
    margin-top: 1vw;
    
    height: 3.5%;
    width: 100%;

    background-color: white;
}

/* Левые ссылки футера */
#left {
    left: 2%;
}

/* Правые ссылки футера */
#right {
    right: 2%;
}

/* Меню футера */
nav {
    position: absolute;
}

/* Ссылки меню футера */
nav a {
    font-family: Cony-Light, monospace;
    text-decoration:none;
    color: black;
    margin: -0.5% 15px;
    font-size: 1.2vw;
    letter-spacing: 1.5px;
    position:relative;
    display:inline-block;
}

/* Зачеркивающая линия */
nav a:before {
  content:'';
  position: absolute;
  width: 100%;
  height: 1px;
  top: 65%;

  background: #16151b;

  animation:out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}

/* Наведение */
nav a:hover:before {
  animation:in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}

/* Анимация зачеркивания вперед */
@keyframes in{
  0%{
    width: 0;
    left:0;
    right:auto;
  }
  100%{
    left:0;
    right:auto;
    width: 100%;
  }
}

/* Анимация зачеркивания назад */
@keyframes out{
  0%{
    width:100%;
    left: auto;
    right: 0;
  }
  100%{
    width: 0;
    left: auto;
    right: 0;
  }
}

/* Анимация зачеркивания доп. */
@keyframes show{
  0%{
    opacity:0;
    transform:translateY(-10px);
  }
  100%{
    opacity:1;
    transform:translateY(0);
  }
}



/* ---- ПОДВАЛ | КОНЕЦ КОДА ---- */


